ipykernel
ipython
jupyter
matplotlib
numpy
pandas
pillow
scipy
requests
pyarrow
gymnasium
gym_anytrading
yfinance
quantstats
stable_baselines3
tqdm
rich
ipywidgets
torch
torchvision
torchaudio
mplfinance